<!DOCTYPE html>
<html>
  <head>
    <title> Edit Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  </head>
  <body class="container">
    <div>
      <h1>Edit Project</h1>
      <h2>Created by: <%= email %></h2>
    </div>
    <% if (projects && projects.length) { %>
        <% projects.forEach(function(project) { %>
          <form action="/editproject/<%= project._id %>" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="text" value="<%= project.name %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="ProjectName" style="width: 700px;" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Description</label>
              <textarea type="text" class="form-control" id="exampleInputPassword1" style="width: 700px; height: 200px;" name="ProjectDescription" required><%= project.description %></textarea>
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">Edit Project</button>
              <h1><a href="/deleteproject/<%= project._id%>">Delete</a></h1>
          </div>
          </form>
        <% }); %>
    <% } else { %>
      <p>No projects found.</p>
    <% } %>
  </body>
</html>